/* Hide Focus URL, Bookmark Bar, Quick Commands */
@charset "UTF-8";

.toolbar-mainbar > .button-toolbar > button,  .toolbar-mainbar,
.toolbar-mainbar > .toolbar-group > .button-toolbar > button,
.toolbar-extensions.toolbar-extensions.toolbar-extensions .button-toolbar >
button > img {
    font-size: 12px;
    overflow: hidden;
}

.quick-command-container {
	display: none;
}

.bookmark-bar {
    display: none;
}